node_modules/
*.tgz
test/
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.shared.json
.pairs
.project-settings.yml
.tern-port
.tern-project
.well-known/relative-links
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.webpack
dist/
bundle/
.nyc_output
coverage
node/
.sass-cache/
.autod.conf.next
.cache/
.nmuck
.nuxt
.next
.nuxt/
.out/
.output/
.plt/
.svelte-kit/
.temp/
.tmp/
.vscode/extensions.json
dist/
build/
public/
coverage/
test/fixtures/
*.gcov
*.lcov
*.out
.yalc/
yalc.lock
!.yalc/
vendor/
_vendor/
public/packs/
webpack/
.stylelintcache

# Editor files
.idea/
*.swp
*.swo
*~
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
