node_modules/
*.log
.DS_Store
test/
coverage/
.git/
.vscode/
.idea/
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.shared.json
.pairs
.project-settings.yml
.tern-port
.tern-project
.well-known/relative-links
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.webpack
dist/
bundle/
.nyc_output
public/packs/
webpack/
.nuxt
.next
temp/
tmp/